{% extends 'admin-base.html' %}
{% load static %}

{% block adminblock %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">CMS</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(a0)">Blog</a></li>
            </ol>
        </div>
        <!-- Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="profile card card-body px-3 pt-3 pb-0">
                    <div class="profile-head">
                       
                        <div class="profile-info">
                        
                            <div class="profile-details">
                                <div class="profile-name px-3 pt-2">
                                    <h4 class="text-primary mb-0">{{request.user.username}}</h4>
                                    <!-- <p>UX / UI Designer</p> -->
                                </div>
                                <div class="profile-email px-2 pt-2">
                                    <h4 class="text-muted mb-0">{{request.user.email}}</h4>
                                    <p>Email</p>
                                </div>
                                <div class="dropdown ms-auto">
                                    <a href="{% url 'profile' %}" class="btn btn-primary light sharp"><span class="fa fa-pencil"></span></a>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="filter cm-content-box box-primary">
                    <div class="content-title SlideToolHeader">
                        <div class="cpa">
                            <i class="fa-sharp fa-solid fa-filter me-2"></i>Filter
                        </div>
                        <div class="tools">
                            <a href="javascript:void(0);" class="expand handle"><i class="fal fa-angle-down"></i></a>
                        </div>
                    </div>
                    <div class="cm-content-body form excerpt">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-3 col-sm-6">
                                    <label class="form-label">Title</label>
                                    <input type="text" class="form-control mb-xl-0 mb-3" id="exampleFormControlInput1" placeholder="Title">
                                </div>
                                <div class="col-xl-3  col-sm-6 mb-3 mb-xl-0">
                                    <label class="form-label">Status</label>
                                    <select class="form-control default-select h-auto wide" aria-label="Default select example">
                                        <option selected>Select Status</option>
                                        <option value="1">Published</option>
                                        <option value="2">Draft</option>
                                        <option value="3">Trash</option>
                                        <option value="4">Private</option>
                                        <option value="5">Pending</option>
                                    </select> 
                                </div>
                                <div class="col-xl-3 col-sm-6">
                                    <label class="form-label">Date</label>
                                    <div class="input-hasicon mb-sm-0 mb-3">
                                        <input  name="datepicker" class="form-control bt-datepicker">
                                        <div class="icon"><i class="far fa-calendar"></i></div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 align-self-end">
                                    <div>
                                        <button class="btn btn-primary me-2" title="Click here to Search" type="button"><i class="fa fa-filter me-1"></i>Filter</button>
                                        <button class="btn btn-danger light" title="Click here to remove filter" type="button">Remove Filter</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4 pb-3">
                    <ul class="d-flex align-items-center flex-wrap">
                        <li><a href="{% url 'addjob' %}" class="btn btn-primary btn-sm">Add an event</a></li>
                      
                    </ul>
                </div>
                <div class="filter cm-content-box box-primary">
                    <div class="content-title SlideToolHeader">
                        <div class="cpa">
                            <i class="fa-solid fa-file-lines me-1"></i>My Post List
                        </div>
                        <div class="tools">
                            <a href="javascript:void(0);" class="expand handle"><i class="fal fa-angle-down"></i></a>
                        </div>
                    </div>
                    <div class="cm-content-body form excerpt">
                        <div class="card-body pb-4">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Title</th>
                                            <th>Status</th>
                                            <th>Modified</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        {% for post in post %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td> 
                                               
                                        <h4 style="text-transform: uppercase;"> <span> <img src="{% static '{{post.image.url}}' %}" style="width: 100px; border-radius: 5px;margin-right: 10px;" alt=""></span>{{post.title}}</h4>
                                        <br>
                                        <p>{{post.description|truncatechars:250|safe}}</p>
                                    </td>
                                            <td>
                                                
                                                {% if post.active %}
                                                    Published
                                                    {% else %}
                                                    <p class="text-danger">
                                                        In revision
                                                    </p>
                                                {% endif %}
                                                    
                                            </td>
                                            <td style="width: max-content !important;min-width: 100px;">{{post.publication_date|date:'d, M Y'}}</td>
                                            <td class="text-nowrap">
                                                <a href="{% url 'editPost' post.jid %}" class="btn btn-warning btn-sm content-icon">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-danger btn-sm content-icon">
                                                    <i class="fa-solid fa-trash"></i>
                                                </a>
                                            </td>
                                             
                                        </tr>
                                        {% endfor %}
                                            
                                      
                                    </tbody>
                                </table>
                                <div class="d-flex align-items-center justify-content-between flex-wrap">
                                    <p class="mb-2 me-3">Page 1 of 5, showing 2 records out of 8 total, starting on record 1, ending on 2</p>
                                    <nav aria-label="Page navigation example mb-2">
                                      <ul class="pagination mb-2 mb-sm-0">
                                        <li class="page-item"><a class="page-link" href="javascript:void(0);"><i class="fa-solid fa-angle-left"></i></a></li>
                                        <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                                        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                        <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                                        <li class="page-item"><a class="page-link " href="javascript:void(0);"><i class="fa-solid fa-angle-right"></i></a></li>
                                      </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                {% for post in post  %}
               
                    <div class="col-xl-3 col-lg-4 col-6">
                        <div class="card">
                           <div, style="height: 35vh; overflow: hidden;">
                            <img class="card-img-top img-fluid" src="{{post.image.url}}" alt="{{post.title}}">
                           </div,>

                            <div class="card-header border-0 pb-0">
                                <h5 class="card-title">{{post.title}}</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{post.description|safe|truncatechars:75}}
                                </p>
                            </div>
                            <div class="card-footer border-0 pt-0">
                                <p class="card-text d-inline">Card footer</p>
                                <a href="javascript:void(0);" class="float-end btn btn-outline-primary">Edit</a>
                                <a href="javascript:void(0);" class="card-link float-end btn btn-outline">Detete</a>

                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                    
              
            </div>
        </div>
    </div>
</div>

{% endblock adminblock %}