{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="page-content">
    <!-- Banner  -->
    <div class="dz-bnr-inr dz-bnr-inr-sm text-center overlay-primary-dark" style="background-image: url(assets/images/banner/bnr2.jpg);">
        <div class="container">
            <div class="dz-bnr-inr-entry">
                <h1>Search</h1>
                <nav aria-label="breadcrumb" class="breadcrumb-row m-t15">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="index.html">Search</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- Banner End -->


    <!-- blog-list section start -->
    <section class="content-inner bg-white position-relative">
        <div class="container">
            <div class="row ">
                <div class="col-xl-4 col-lg-4">
                    <aside class="side-bar sticky-top right">
                    <div class="widget">
                            <div class="widget-title">
                                <h4 class="title">Search </h4>
                            </div>
                            <div class="search-bx">
                                <form role="search"  action="{% url 'job-search' %}" method="get">
                                    <div class="input-group">
                                            <input name="title" value="{{title}}" class="form-control style-1" placeholder="Search.." type="text">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-primary sharp radius-no"><i class="fa-solid fa-magnifying-glass scale3"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- <div class="widget recent-posts-entry">
                            <div class="widget-title">
                                <h4 class="title">Recent Post</h4>
                            </div>
                            <div class="widget-post-bx">
                                <div class="widget-post clearfix">
                                    <div class="dz-media">
                                        <img src="{% static 'assets/images/blog/small/pic1.jpg' %}" alt="">
                                    </div>
                                    <div class="dz-info">
                                        <h6 class="title"><a href="blog-details.html">Equipment you can count on. People you can trust.</a></h6>
                                        <div class="dz-meta">
                                            <ul>
                                                <li class="post-date"><a href="javascript:void(0);"> 17 May 2022</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-post clearfix">
                                    <div class="dz-media">
                                        <img src="{% static 'assets/images/blog/small/pic2.jpg' %}" alt="">
                                    </div>
                                    <div class="dz-info">
                                        <h6 class="title"><a href="blog-details.html">Advanced Service Functions by Air Transport</a></h6>
                                        <div class="dz-meta">
                                            <ul>
                                                <li class="post-date"><a href="javascript:void(0);"> 07 Jan, 2022</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-post clearfix">
                                    <div class="dz-media">
                                        <img src="{% static 'assets/images/blog/small/pic3.jpg' %}" alt="">
                                    </div>
                                    <div class="dz-info">
                                        <h6 class="title"><a href="blog-details.html">Proper arrangement for keeping the goods in the warehouse</a></h6>
                                        <div class="dz-meta">
                                            <ul>
                                                <li class="post-date"><a href="javascript:void(0);"> 25 Aug, 2022</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <div class="widget widget_tag_cloud">
                            <div class="widget-title">
                                <h4 class="title">Popular Tags</h4>
                            </div>
                            <div class="tagcloud">
                                <a href="javascript:void(0);">General</a>
                                <a href="javascript:void(0);">Payment</a>
                                <a href="javascript:void(0);">Jobs </a>
                                <a href="javascript:void(0);">Application</a>
                                <a href="javascript:void(0);">Work</a>
                                <a href="javascript:void(0);">Recruiting</a>
                                <a href="javascript:void(0);">Income</a>
                                <a href="javascript:void(0);">Employer</a>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="col-xl-8 col-lg-8">
                    <div class="row">
                        {% if post %}
                        <div class="widget-title">
                          <h4 class="title">We found {{post.count}} Items  for {{title}}</h4>
                        </div>
                        <div class="row m-b30 m-sm-b10">
                             
                           {% for post in post %}
                           <div class="col-xl-6 col-md-6  m-b30">
                              <div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="1.{{forloop.counter}}s">
                                  <div class="dz-media">
                                      <a href="{% url 'job-detail' post.jid %}"><img src="{{post.image.url}}"></a>
                                      <span class="date"><a href="javascript:void(0)">{{post.publication_date|date:'d M Y'}}</a></span>
                                  </div>
                                  <div class="dz-info">
                                      <div class="dz-meta">
                                          <ul>
                                              <li class="post-author text-primary">
                                                  <span>
                                                      <i class="fa-solid fa-user"></i>
                                                  </span>
                                                  By {{post.author}}</li>
                                              <!-- <li class="post-date text-primary">
                                                  <span>
                                                      <i class="fa-solid fa-message"></i>
                                                  </span>
                                              24 Comments</li> -->
                                          </ul>
                                      </div>
                                      <h4 class="dz-title" style="text-transform: uppercase;"><a href="{% url 'job-detail' post.jid %}">{{post.title|truncatechars:23}}</a></h4>
                                      <p>{{post.description|safe|truncatechars:75}}</p>
                                      <a href="{% url 'job-detail' post.jid %}" class="btn btn-primary">Read More</a>
                                  </div>
                              </div>
                          </div>
                           {% endfor %}
                         
                        </div>
                        {% endif %}
                    </div>
                </div>
             
            </div>
        </div>
    </section>
    <!-- blog-list section start -->


</div>
{% endblock body %}
