{% extends 'admin-base.html' %}
{% load static %}

{% block adminblock %}

***********************************-->
<div class="content-body">
   <div class="container-fluid">
       <div class="row page-titles">
           <ol class="breadcrumb">
               <li class="breadcrumb-item"><a href="javascript:void(0)">Profile</a></li>
               <li class="breadcrumb-item active"><a href="javascript:void(0)">Edit Profile</a></li>
           </ol>
       </div>
       <!-- row -->
       <div class="row d-flex justify-content-center">
        
           <div class="col-xl-6 col-lg-10 col-md-12">
               <div class="card  card-bx m-b30">
                   <div class="card-header">
                       <h4 class="card-title">Account setup</h4>
                   </div>
                   <form class="profile-form">
                       <div class="card-body">
                        <div class="filter cm-content-box box-primary">
                            <div class="content-title SlideToolHeader">
                                <div class="cpa">Basic informations</div>
                                <div class="tools">
                                    <a href="javascript:void(0);" class="expand handle"><i
                                            class="fal fa-angle-down"></i></a>
                                </div>
                            </div>
                            <div class="cm-content-body publish-content form excerpt">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-6 m-b30">
                                            <label class="form-label">Full Name</label>
                                            <input type="text" class="form-control" value="{{request.user.first_name}} {{request.user.last_name}}">
                                        </div>
                                        <div class="col-sm-6 m-b30">
                                            <label class="form-label">Username</label>
                                            <input type="text" class="form-control" value="{{request.user.username}}">
                                        </div>
                                        
                                        <div class="col-sm-6 m-b30">
                                            <label class="form-label">Gender</label>
                                            <select class="selectpicker nice-select default-select form-control wide mh-auto">
                                                <option>Male</option>
                                                <option>Female</option>
                                                <option>Other</option>
                                            </select>
                                        </div>
                                       
                                        <div class="col-sm-6 m-b30">
                                            <label class="form-label">Phone</label>
                                            <input type="text" class="form-control" value="{{profile.phone}}">
                                        </div>
                                        <div class="col-sm-6 m-b30">
                                            <label class="form-label">Email adress</label>
                                            <input type="text" class="form-control" value="{{request.user.email}}">
                                        </div>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>

                         
                           <div class="filter cm-content-box box-primary">
                            <div class="content-title SlideToolHeader">
                                <div class="cpa">Contact informations</div>
                                <div class="tools">
                                    <a href="javascript:void(0);" class="expand handle"><i
                                            class="fal fa-angle-down"></i></a>
                                </div>
                            </div>
                            <div class="cm-content-body publish-content form excerpt">
                                <div class="card-body">
                                    <div class="input-group mb-3">
                                        <div class="input-group-text fas fa-envelope"></div>
                                        <input type="text" class="form-control" name="email" placeholder="exemple@exemple.com">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-text fab fa-whatsapp"></div>
                                        <input type="text" class="form-control" name="whatsapp" placeholder="00228 00 00 00 00">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-text fas fa-phone "></div>
                                        <input type="text" class="form-control"  name="phone"  placeholder="00228 00 00 00 00">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="filter cm-content-box box-primary">
                            <div class="content-title SlideToolHeader">
                                <div class="cpa">Social media</div>
                                <div class="tools">
                                    <a href="javascript:void(0);" class="expand handle"><i
                                            class="fal fa-angle-down"></i></a>
                                </div>
                            </div>
                            <div class="cm-content-body publish-content form excerpt">
                                <div class="card-body">
                                    <div class="input-group mb-3">
                                        <div class="input-group-text fab fa-linkedin"></div>
                                        <input type="text" class="form-control" placeholder="https//:..." name="linkedin">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-text fab fa-twitter"></div>
                                        <input type="text" class="form-control" placeholder="https//:..." name="twitter">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-text fab fa-instagram "></div>
                                        <input type="text" class="form-control" placeholder="https//:..." name="instagram">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-text fab fa-facebook-f "></div>
                                        <input type="text" class="form-control" placeholder="https//:..."  name="facebook">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-text fab fa-youtube "></div>
                                        <input type="text" class="form-control" placeholder="https//:..." name="youtube">
                                    </div>
                                </div>
                            </div>
                        </div>
                       </div>
                       <div class="card-footer">
                           <button class="btn btn-primary">UPDATE</button>
                           <a href="page-register.html" class="text-primary btn-link">Forgot your password?</a>
                       </div>
                   </form>
               </div>
           </div>
       </div>	
   </div>
</div>

{% endblock adminblock %}